  .container {
    padding: 50px;
    max-width: 70%;
  }

  .navbar {
    margin-bottom: 70px;
  }

  .nav-item {
    font-size: 20px;
  }

  .text-start {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .row {
    justify-content: center;
    margin-bottom: 70px;
  }

  .contact {
    margin-left: 100px;
    width: 100%;
    margin-bottom: 200px;
  }

  .contactme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }

  .infobox {
    height: 200px;
  }

  span {
    margin-left: 30px;
  }

  a {
    color: black;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .sm-icon-height {
    height: 400px;
  }

  .time-line{
    height: 1000px;
  }

  .carousel-caption > h5 {
    color: black;
  }

  .carousel-caption > p {
    color: black;
  }

  .carousel-control-prev-icon { 
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); 
  } 

  .carousel-control-next-icon { 
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"); 
  }

  .img-wrapper img {
    transition:all .5s ease;
  }

  .img-wrapper img:hover {
    transform:scale(3);
  }

  .carousel-item img {
    height: 450px;
  }

  .img-wrapper > .carousel-item img:hover {
    transform:scale(1.5);
  }

  .project-img img {
    border: 1px solid black;
    width: 70%;
    height: 40%;
    margin-bottom: 30px;
  }

  .project-row {
    display: flex;
    height: 600px;
  }

  .project-info-row {
    display: flex;
    margin-bottom: 10px;
  }

  .project-info-row > .contactme {
    align-items: flex-end;
    padding-right: 20px;
  }